.categoryContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.category {
  text-align: center;
  padding: 6px 15px;
  font-weight: 500;
  color: var(--primary);
  text-transform: capitalize;
  transition: background 400ms ease, color 300ms ease;
  font-size: 20px;
}
.category:hover {
  background: var(--label-text);
  color: var(--whitebase);
  cursor: pointer;
}
.active {
  background: var(--primary);
  color: var(--whitebase);
}
