.root {
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  align-items: center;
  color: var(--whitebase);
}

.navbar {
  display: flex;
}
.list {
  display: flex;
  list-style: none;
  margin: 0;
}
.list > li > a {
  display: flex;
  padding: 10px 25px;
  color: var(--whitebase);
  text-decoration: none;
}
.list > li > a:hover {
  transition: background 200ms;
  background-color: rgba(97, 41, 153, 1);
  /* font-weight: 600; */
}
